<!DOCTYPE html>
<html lang="en">
    <%- include('partials/dashboardHead') %> 
<body>
    <%- include('partials/header') %> 
    <div class="contenedorLoginRegister">
        <div class="contenedorForm">
            <form action="/recuperar-contrasena/modificar" method="POST">
                <h2>Modifique su contraseña</h2>
                <div class="errorContainer">
                    <input type="password" name="contrasena" placeholder="Contraseña" >
                    <span class="errorMessage"><% if(typeof errors != "undefined"){ %>
                        <%for(let error of errors){%>
                            <%if((error.param == "contrasena") && (error.msg != ("Invalid value"))){%>
                                <%= error.msg%>
                            <%}%>
                        <%}%>
                    <%}%></span>
                </div>
                <div class="errorContainer">
                    <input type="password" name="rptContrasena" placeholder="Repita su contraseña">
                    <span class="errorMessage"><% if(typeof errors != "undefined"){ %>
                        <%for(let error of errors){%>
                            <%if((error.param == "rptContrasena") && (error.msg != ("Invalid value"))){%>
                                <%= error.msg%>
                            <%}%>
                        <%}%>
                    <%}%></span>
                </div>
                <button class="claseButton">MODIFICAR</button>
            </form>
        </div>
    </div>
</body>
</html>