<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./system/partials/dashboardHead') %> 
<title>Activa</title>
</head>
<body>
    <div style=" height: 100vh; width: 100vw; background-color: #fefefe; text-align: center;">
        <a href="/"><img src="/images/system/logo-nav.png" alt=""></a>
        <h3>¡Ups! Algo salio mal, vuelve al <a href="/" style="color: #03936E;">home</a></h3>
        <%= error %>
    </div>

</body>
</html>