<header>
    <div class="logo">
        <a href="/cursos"><img src="/images/system/logo.png"></a>
    </div>
    <div class="profile">
        <button>
            <img src="/images/system/descargar.png">
            <span><%= nombre %> <%= apellido %></span>
            <i class="fas fa-chevron-down"></i>
        </button>
        <div class="dropdown-profile">
            <ul>
                <li>
                    <a href="/logout">Cerrar sesion</a>
                </li>
            </ul>
        </div>
    </div>
</header>

