<div class="contenedorMenu">
    <div class="navTitle"><img src="/images/system/logo-nav.png"></div>
    <ul class="navLink">
        <a href="/dashboard/course-create"><li>Crear curso</li></a>
    </ul>
</div>

<div id="menuMobile" class="hide test contenedorMenuMobile">
    <div id="navContent" class="slideHide">
    <div class="navTitle"><img src="/images/system/logo-nav.png" alt=""></div>
    <ul class="navLink">
        <a href="/dashboard/course-create"><li>Crear curso</li></a>
    </ul>
    </div>
</div>