<div class="contenedorMenu">
    <div class="navTitle"><img src="/images/landing/logo.png"></div>
    <ul class="navLink">
        <a href="/dashboard/course-create"><li>Crear curso</li></a>
        <a href="/dashboard/transactions"><li>Ver transacciones</li></a>
        <a href="/"><li>Ir a la landing</li></a>
        <a href="/logout"><li>Cerrar sesion</li></a>
    </ul>
</div>

<div id="menuMobile" class="hide test contenedorMenuMobile">
    <div id="navContent" class="slideHide">
    <div class="navTitle"><img src="/images/landing/logo.png" alt=""></div>
    <ul class="navLink">
        <a href="/dashboard/course-create"><li>Crear curso</li></a>
        <a href="/dashboard/transactions"><li>Ver transacciones</li></a>
        <a href="/"><li>Ir a la landing</li></a>
        <a href="/logout"><li>Cerrar sesion</li></a>
    </ul>
    </div>
</div>