<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo mr-auto"><img src="/images/landing/logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Inicio</a></li>
          <li><a href="/#about">Nosotros</a></li>
          <li class="drop-down"><a href="/#popular-courses">Cursos</a>
                <ul>
                  
                    <%for(let courseData of courses){%>
                      <li><a target="_blank" href="/curso/<%=courseData.nombre%>"><%=courseData.nombre%></a></li>
                    <%}%>
                </ul>
          </li>
          <li><a href="/#trainers">Coaches</a></li>
          <li><a href="/#contacto">Contacto</a></li>
          <%if(typeof nombre != "undefined"){%>
            <li><a <%if(permiso === true){%>
              href="/dashboard/course-create"
              <%}else{%>
                href="/cursos"
                <%}%>>Campus</a></li>
          <%} else{%>
          <li><a href="/login">Ingresar</a></li>
          <%}%>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->