.contenedorLoginRegister{
    display: flex;
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorLoginRegister .contenedorForm{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    flex-wrap: wrap;
    border : 1px solid #ddd;
    box-shadow : 0 5px 10px 0 rgba(172,181,185,.4);
    padding: 10px;
}


.contenedorForm a:last-child{
    margin: 1vh;
}
.contenedorLoginRegister .contenedorForm input:not([type="checkbox"]){
    height: 30px;
    margin : 0.5vw 0.5vw 0 0.5vw;
    outline: 0;

}

.contenedorLoginRegister .contenedorForm button{
    margin: 1vh auto;
}
.contenedorLoginRegister .contenedorForm h2{
    font-weight: 500;
    width: 100%;
    text-align: center;
}
.contenedorLoginRegister .contenedorForm img{
    margin: auto;
}
.contenedorLoginRegister .contenedorForm input[type="checkbox"] {
    margin-left: 0.5vw;
    vertical-align: bottom;
}

.errorContainer{
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    vertical-align: top;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
}

#emailLogin{
    min-width: 350px;
}
.wrapperInput{
    display: flex;
    width: 100%;
}

.newsletter{
    font-size: 13px;
    margin: 1vh auto 0 auto;
}

.contenedorForm a {
    font-size: 13px;
    color: #CCABD8;
}
.newsletter input{
    box-shadow: none;
}

@media only screen and (max-width: 540px){
    .contenedorLoginRegister .contenedorForm{
        width: 100%;
        padding: 0;
        margin: 0 5vw;
    }

    #emailLogin{
        min-width: 0;
    }

    #rememberMe{
        margin-left: 1vw;
    }

    .wrapperInput{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}