.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

#pagination-wrapper button{
    margin: auto;
    background-color: #FFDD94;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 0 0.3vw;
}