.transactionContainer{
    display: flex;
    width: 80%;
    align-items: flex-start;
    margin: auto;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.transactionContainer p {
    font-weight: bold;
    margin : 0
}

@media only screen and (max-width: 990px){
  .transactionContainer{
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
  }
  .transactionContainer div{
      margin: 1vh;
      min-width: 240px;
  }
}