.classContainer{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
}

.classHeader{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-weight: 500;
    font-size: 13px;
    justify-content: space-between;
}

.classInfo span{
    margin: 0 1vw;
}

.videoContainer{
    margin: 2vh auto;
    width: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoContainer span{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.5vh;
}
.videoContainer iframe {
    display: block;
    border-style:none;
    margin-left: auto;   
    margin-right: auto; 
}
.fileContainer span{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.5vh;
}

.fileFolder{
    display: grid;
    padding: 10px;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    justify-items:center;
}

.fileFolder i:first-child {
    margin-right: 0.5vw;
}
.fileFolder i:last-child {
    margin-left: 0.5vw;
}
@media only screen and (max-width: 980px){
    #info{
        display: none;
    }
    .classInfo{
        display: flex;
        width: 100%;
        justify-content: space-between
    }
    .fileFolder{
        display: block;
    }

    .fileContainer span{
        overflow-wrap: break-word;
        display: block;
    }
    .fileFolder #file{
    display: none;
    }

    #download{
        margin-left: 3vw;
    }
}