    .moduleCard{
        background-color: white;
        border-radius: 10px;
        padding: 16px;
        position: relative;
        height: fit-content;
        margin-bottom: 1vh;
    }

    .courseWrapper h3{
        margin-left: 0.5vw;
    }

    .moduleNumber{
        padding-bottom: 10px;
        font-size: 13px;
        border-bottom: 1px solid black;
    }

    .moduleName{
        margin: 16px 16px 16px 0;
        font-weight: 700;
        font-size: 18px;
    }

    .moduleContent button{
        margin: 0;
        padding: 5px;

    }

    .clasesModulo{
        display: block;
        transition: 10s all;
        border-radius: 10px;
        font-size: 13px;
        background-color: #f5f5f5;
    }

    .classCard h2{
        margin: 0;
    }

    .classCard{
        display: flex;
        padding: 10px 5px;
        align-items: center;
        border-bottom: black 1px solid;
    }
    .classCard:last-child{
        border-bottom: none;
    }

    .classCard .dot{
        width: 8px;
        height: 8px;
        background-color: red;
        border-radius: 60%;
        margin-right: 1vw;
    }

    .moduleNameContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .classCardContent{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

    }
    .classCardContent span:nth-child(2){
        margin-left: auto;
        margin-right: 1vw;
    }

    .classCardContent button{
        margin: 0;
    }

    @media only screen and (max-width: 480px){
        .contenedorModulos{
            padding: 5px;
        }
        .courseWrapper h3{
            text-align: center;
        }

        .classCardContent a button{
            font-size: 10px;
        }
    }